[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "OlympusDAO/forge-template/lib/ds-test"]
	path = OlympusDAO/forge-template/lib/ds-test
	url = https://github.com/dapphub/ds-test
